.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: #e9e9e9;
    width: 180px;
    height: 280px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px black;
    flex-shrink: 0;
}

.card img{
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.card h1 {
    font-size: 1.2rem;
}

.card h2 {
    font-size: .9rem;
    color: #777777;
}

.card button {
    background-color: black;
    height: 45px;
    border: none;
    width: 90%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    margin: 0 auto;
    display: block; 
}

.card button:hover {
    background-color: #e1f154;
    color: black;
    cursor: pointer;
}
